<section class="accessories">
  <div class="container">
    <h2 class="accessories__title section__title">ACCESSORIES</h2>
    <p class="accessories__text">Personalize every experience</p>

    <div class="accessories__items">
      <div class="accessories__item">
        <img
          class="accessories__item-img"
          src="./images/accessories-1.jpg"
          alt=""
        />
        <p class="accessories__item-title">Meta Quest 2 Carrying Case</p>
        <p class="accessories__item-text">
          Protect your system–at home or away.
        </p>
        <p class="accessories__item-price">$59.99 USD</p>
        <button class="accessories__item-btn">BUY NOW</button>
      </div>

      <div class="accessories__item">
        <img
          class="accessories__item-img"
          src="./images/accessories-2.jpg"
          alt=""
        />
        <p class="accessories__item-title">Link Cable</p>
        <p class="accessories__item-text">
          Harness the power of your PC with this premium fiber-optic cable.
        </p>
        <p class="accessories__item-price">$79.99 USD</p>
        <button class="accessories__item-btn">BUY NOW</button>
      </div>

      <div class="accessories__item">
        <img
          class="accessories__item-img"
          src="./images/accessories-3.jpg"
          alt=""
        />
        <p class="accessories__item-title">Meta Quest 2 Active Pack</p>
        <p class="accessories__item-text">
          A wipeable facial interface, wrist straps, and knuckle straps.
        </p>
        <p class="accessories__item-price">$69.99 USD</p>
        <button class="accessories__item-btn">BUY NOW</button>
      </div>

      <div class="accessories__item">
        <img
          class="accessories__item-img"
          src="./images/accessories-4.jpg"
          alt=""
        />
        <p class="accessories__item-title">Meta Quest Gift Cards</p>
        <p class="accessories__item-text">Redeemable on 350+ games and apps.</p>
        <p class="accessories__item-price">$15-50 USD</p>
        <button class="accessories__item-btn">BUY NOW</button>
      </div>
    </div>
  </div>
</section>
