<footer class="footer">
  <div class="container">
    <nav class="navigation">
      <ul class="menu list">
        <li class="menu__item"><a href="#" class="menu__link">SHOP</a></li>
        <li class="menu__item"><a href="#" class="menu__link">GAMES</a></li>
        <li class="menu__item"><a href="#" class="menu__link">METAVERSE</a></li>
        <li class="menu__item">
          <a href="#" class="menu__link">CONTACT US</a>
        </li>
      </ul>

      <a href="#" class="logo">
        <img class="logo__link" src="./images/logo.svg" alt="" />
      </a>

      <ul href="#" class="social list">
        <li class="social__item">
          <a href="" class="social__link">
            <img class="social__img" src="./images/youtube.svg" alt="" />
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <img class="social__img" src="./images/facebook.svg" alt="" />
          </a>
        </li>

        <li class="social__item">
          <a href="" class="social__link">
            <img class="social__img" src="./images/instagram.svg" alt="" />
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
